header {
    background-image: url(https://i.redd.it/lwwt86ci5anz.jpg);
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 2px;
}

h2 {
    border-bottom: 2px solid #9efa96;
    padding-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 16px 0 16px;
    color: #5eff00;
    text-shadow: 2px 1px 0px rgb(247, 8, 255);
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #ec18ff63;
    border-radius: 10px;
}

form button {
    background-color: #0ff02dc5;
    color: rgb(255, 255, 255);
    padding: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #ab00eed3;
}

footer {
    background-image: url(https://i.guim.co.uk/img/media/b563ac5db4b4a4e1197c586bbca3edebca9173cd/0_12_3307_1985/master/3307.jpg?width=1200&quality=85&auto=format&fit=max&s=7543c611e54f684ba5da8700c2ac15d9);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(7, 255, 61);
    text-shadow: 1px 1px 2px rgb(197, 0, 247);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    letter-spacing: 4px
}

.fondo {
    background-image: url(https://static.displate.com/brand/layout/3134386d-c57f-4bb8-882e-6c4aee42dd49/headerDesktopStandard.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.ftoo {
    position: relative;
    top: 90px;
    left: 10px;
}

.texto {
    padding: 30%;
    font-size: 15px;
    color: #3cff0057;
    font-family: "Fjalla One", sans-serif;
    text-align: justify;
}

.textimg {
    align-items: start;
}


.txtcr {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);

}

.txttitulo {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}


video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}


li {
    list-style: none;
}

.txtt2 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6cff17e1;
    text-shadow: 4px 2px 4px rgb(195, 11, 252);
}


.cardf2 {

    background-image: url(https://i.pinimg.com/originals/ae/60/30/ae60302306b165c9d2016f22901ab7a2.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.90;
}

.txttcard {
    font-size: 13px;
    color: #328618;
    text-shadow: 1px 1px 0px rgb(132, 51, 179);
}

.txtticard {
    font-size: 20px;
    font-weight: bold;
    color: #289c0a;
    text-shadow: 1px 1px 0px rgb(120, 28, 148);
}

.txttnav {
    font-size: 15px;
    color: #000000;
    text-shadow: 1px 1px 0px rgb(73, 255, 17);
    font-weight: bold;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.divimg {

    position: relative;
    width: 40%;
    height: 30%;
}

.img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 138%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgb(65, 238, 59);
    background-color: rgba(0, 0, 0, 0.575);
    transition: 0.8s ease;
    font-size: 20px;
    text-align: center;
    pointer-events: none;
}

.saludorick {
    width: 140%;
    height: 150%
}

.hrr {
    width: 100%;
    border-top: 5px solid #9c07ff;

}

@media (max-width: 768px) {

    .container,
    .g-4 {
        flex-direction: column;
    }

    .card {
        width: 340%;

    }

    .texto {
        visibility: hidden;

    }

    .img2 {
        font-size: 14px;
    }

    .ftoo {
        width: 200%;

    }

    .txttitulo {
        visibility: visible;
    }

    .txtt2 {
        font-size: 25px;
    }

    .txtcr {
        visibility: hidden;
    }

    .txttitulo {
        position: absolute;
        top: 70%;
        left: 20%;
        transform: translate(-10%, -10%);
    }
    .saludorick {
        width: 195%;
    }
    .img2
    {
        width: 185%;
    }
    .inputt{
        padding: 8px;
        margin-bottom: 10px;
        width: 140%;
    }
}
