body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(https://i.redd.it/lwwt86ci5anz.jpg);
    color: white;
    text-align: center;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(38, 105, 55);
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #9efa96;
    padding-bottom: 5px;
}

.project {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f3f3f3;
    border-radius: 4px;
}

form button {
    background-color: #4de46e;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #98f7b5;
}

footer {
    background-color: #75ff62;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fondo {
  background-image: url(https://static.displate.com/brand/layout/3134386d-c57f-4bb8-882e-6c4aee42dd49/headerDesktopStandard.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  
}
.texto {
    text-align:justify;
    padding: 17%;
    font-size: 15px;
    color: #cde44d;
    
}
